body {
    background-color: #000;
    background-size: cover;
}


.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/** input 안내문구 색상 변경 */
input::placeholder {
    color: rgb(200, 212, 29);
    font-style: italic;
  }
  textarea::placeholder {
    color: blue;
    font-weight: bold;
  }


/** 폰트컬러 css */
body,input,textarea,button {   
    color: #ffffff;
}
.hidden {
    display: none ! important;
}

/** 로고위치 css */
.top-row-corner {
    width: 30px;
    height: 30px;
    position: center;
    top: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** 로고크기 및 모양 css */
img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-content: center;
}

/** 현재시간 css */
.top-row-left {
    position: absolute;
    top: 20px;
    left: 60px;
    right: 25px;
    font-size: 20px;
    font-weight: 800;
    text-shadow: 1px 1px 1px #000;
}

/** ip css */
.top-row-center {
    position: absolute;
    top: 30px;
    left: 50px;
    right: 25px;
    font-size: 30px;
    font-weight: 800;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
}

/** 날씨 css */
.top-row-right {
    position: absolute;
    top: 30px;
    right: 25px;
    font-size: 30px;
    font-weight: 800;
    text-shadow: 1px 1px 1px #000;
}

/**  중앙 form css */
.user_container {
    width: 100%;
    height: 100%;
    margin-top: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    animation: fadeIn 1.5s linear forwards;
}

/** 중앙 글 css */
.user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    font-size: 4rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px #000;
}

/** 중앙 글 밑 text css */
.form .input {
    color: rgba(255, 255, 255, 0.945);
    font-size: 2rem;
    text-align: center;
    outline: none;
    border: none;
    border-bottom: 3px solid #ffffff;
    background-color: transparent;
}

/** 로그인 이후 입력화면 */
.greeting_container {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 30vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1.5s linear forwards;
}

.greeting_container .greeting {
    margin-top: 0;
}

.greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 1px 1px 1px #000;
}


/** 로그인 이후 화면 */
.todo_container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.todo_List {
    margin: 20px 0px;
    font-size: 20px;
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-weight: bold;
    animation: fadeIn 0.5s linear;
}

.todo_list span {
    color: #ffffff;
    font-size: 23px;
    background-color: transparent;
    border: none;
    outline: none;
    text-shadow: 1px 1px 1px #000;
}

.todo_list span .completed {
    font-size: 9px;
}

.todo_list button {
    background: none;
    border: none;
    margin-left: 5px;
    text-shadow: 1px 1px 1px #000;
}

#todo {
    margin: auto;
    height: auto;
    font-size: 21px;
    color: #ffffff;
    position: absolute;
    right: 65px;
    bottom: 40px;
}

.todo {
    background-color: rgb(10, 10, 10);
    grid-template-rows: auto 30px;
    opacity: .8;
    height: auto;
    width: 320px;
    z-index: 3;
    overflow-wrap: break-word;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    margin-top: -10rem;
    border-radius: 2%;
    right: 20px;
}

.todoheader {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 11px;
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
    height: 30px;
}

/** 남은생일 내용 */
.todo_birthday {
    width: 320px;
    overflow: hidden;
    padding: 10px;
    margin-top: 20px;
    right: 20px;
    text-align: center;
    font-size: 20px;
}

.question {
    font-size: 1.6rem;
    margin-top: 80px;
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px #000;
}

/** 하단 명언 내용 */
.quote_container {
    position: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 75px;
    left: 0;
    bottom: 10px;
    right: 0;
    margin: auto;
}

.quote_text {
    text-align: center;
    font-size: 40px;
    color: #1fe4da;
    margin-top: 15rem;
    font-weight: 500;
    text-shadow: 2px 2px 2px darkorange;
}

@media (max-width: 767px) {

    body{
        background-size: cover;
    }

    /* 모바일 */
    .top-row-right {
        display: block;
        margin-top: 20px;
        margin-right: -10px;
        font-size: 13px;
    }

    .top-row-left {
        margin-top: 20px;
        margin-left: -15px;
        font-size: 13px;
    }

    .form .input {
        font-size: 0.9rem;
    }

    .todo_list li span {
        font-size: 0.8rem;
    }

    .top-row-center {
        margin-top: 0px;
        font-size: 13px;
    }

    .greeting_container .greeting {
        margin-top: -150px;
        font-size: 10px;
    }

    .todo_container {
        margin-top: -80px;
    }

    .todo_List {
        margin: 200px 0px;
        font-size: 15px;
    }

    .todo {
        display: block;
        padding: 3px;
        margin-top: 90%;
        border-radius: 2%;
        right: auto;
        justify-content: center;
        align-items: center;
    }

    .question {
        font-size: 0.8rem;
        margin-top: 20px;
        margin-bottom: 5px;
        text-shadow: 1px 1px 1px #000;
    }

    .form #todo_input {
        font-size: 0.8rem;
        margin: 10px 25%;
    }

    .quote_text {
        font-size: 0.8rem;
        margin-top: 0rem;
    }
    .todo_birthday {
        font-size: 0.8rem;
        margin-top: 0rem;
    }

    .todoheader {
        margin-top: 3px;
        text-align: center;
        font-size: 1rem;
    }

    .user {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* 테블릿 세로 */
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* 테블릿 가로 */
}

@media (min-width: 1200px) {
    /* 데스크탑 일반 */
}